{% extends "layout.html" %}

{% block container %}
<h2 class="my-4">Atualizar Dados</h2>
<form action="{% url 'website:create_cliente' %}" method="POST" class="needs-validation shadow rounded-lg p-4"
    novalidate>
    {% csrf_token %}
    <div class="row">
        <input type="number" hidden name="cli_id" value="{{cliente.id}}" />
        <input type="number" hidden name="tel_id" value="{{cliente.telefone.id}}" />
        <input type="number" hidden name="end_id" value="{{cliente.endereco.id}}" />

        <div class="col-md-9">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" placeholder="Ex: João Neto" name="nome"
                    value="{{cliente.nome}}" required>
                <div class="invalid-feedback">Por favor, informe seu nome.</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="tel">Telefone:</label>
                <input type="text" class="form-control" id="tel" placeholder="Ex: (83)91234-5678" name="tel"
                    minLength="13" maxLength="14" size="14" value="{{cliente.telefone.numero}}" required>
                <div class="invalid-feedback">Por favor, informe seu telefone.</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="cep">CEP:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="cep" placeholder="Ex: 12345-678" name="cep"
                        minLength="8" maxLength="9" size="9" value="{{cliente.endereco.cep}}" required>
                    <button type="button" id="getCep" class="btn btn-primary input-group-append"><span><i
                                class="fas fa-search" onclick=""></i></span></button>
                    <div class="invalid-feedback">Por favor, informe seu CEP.</div>
                </div>
            </div>
        </div>


        <div class="col-md-5">
            <div class="form-group">
                <label for="rua">Rua:</label>
                <input type="text" class="form-control" id="rua" placeholder="Ex: Sem Nome" name="rua"
                    value="{{cliente.endereco.rua}}" required>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="num">Número:</label>
                <input type="text" class="form-control" id="num" placeholder="Ex: 15A" name="num"
                    value="{{cliente.endereco.num}}" required>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" id="bairro" placeholder="Ex: Centro" name="bairro"
                    value="{{cliente.endereco.bairro}}" required>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input type="text" class="form-control" id="cidade" placeholder="Ex: João Pessoa" name="cidade"
                    value="{{cliente.endereco.cidade}}" required>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label for="uf">UF:</label>
                <input type="text" class="form-control" id="uf" placeholder="Ex: PB" name="uf"
                    value="{{cliente.endereco.uf}}" required>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="pais">País:</label>
                <input type="text" class="form-control" id="pais" placeholder="Ex: Brasil" name="pais"
                    value="{{cliente.endereco.pais}}" required>
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-success"><span><i class="fas fa-user-check mr-2"></i></span>Salvar</button>
</form>
{% endblock %}